<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>检索</title>
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="/css/login.css" type="text/css" charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="/layui/html5.min.js"></script>
    <script src="/layui/respond.min.js"></script>
    <![endif]-->

    <style>
        .search {
            text-align: center;
            line-height: 70px;
            margin:120px 60px 40px 60px;
        }
    </style>
</head>
<body>
<div class="layui-row" style="background-color: #2F4056;">
    <div class="layui-container">
        <ul class="layui-nav layui-bg-cyan">
            <li class="layui-nav-item">首页</li>
            <li class="layui-nav-item layui-this" style="margin-left:50px;">
                <a href="/listNo">模块1</a>
            </li>
            <li class="layui-nav-item" style="margin-left:50px;">
                <a href="/listNo">模块2</a>
            </li>
            <li class="layui-nav-item" style="float:right;">
                <a href="javascript:;" th:text="test"></a>
                <dl class="layui-nav-child">
                    <dd><a href="/logout">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-container">
        <form id="searchForm" method="post" action="/search">
            <div class="layui-row">
                <div class="search">
                    <button type="button" class="layui-btn layui-btn" id="advancedsearch-btn">
                        高级搜索
                    </button>
                    <div class="layui-inline" style="width: 70%">
                        <input type="text" name="keyword" class="layui-input" id="ah-input" th:value="${keyword}"/>
                    </div>
                    <button type="button" class="layui-btn layui-btn-primary" id="search-btn">
                        搜索
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-container">
    <div class="layui-row layui-col-space10" style="margin-top: 60px">
        <div class="layui-col-md3">
            <div class="layui-row">
                <div class="layui-card">
                    <div class="layui-card-header">案件性质</div>
                    <div class="layui-card-body">
                        <ul class="layui-tree">
                            <div id="test1" class="demo-tree"></div>
                            <!--<li class="site-tree-noicon" th:each="item : ${spts}" th:classappend="${item.dmbh eq bmbh} ? 'layui-this': ''">-->
                            <!--<a th:href="'/admin/fzList?bmbh='+${item.dmbh}"  class="bmClass" th:attr="data-bmbh=${item.dmbh}" >-->
                            <!--<span th:text="${item.dmms}">开始使用</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-card">
                    <div class="layui-card-header">文件类型</div>
                    <div class="layui-card-body">
                        <ul class="layui-tree">
                            <div id="test2" class="demo-tree"></div>
                            <!--<li class="site-tree-noicon" th:each="item : ${spts}" th:classappend="${item.dmbh eq bmbh} ? 'layui-this': ''">-->
                            <!--<a th:href="'/admin/fzList?bmbh='+${item.dmbh}"  class="bmClass" th:attr="data-bmbh=${item.dmbh}" >-->
                            <!--<span th:text="${item.dmms}">开始使用</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-card">
                    <div class="layui-card-header">立案日期</div>
                    <div class="layui-card-body">
                        <ul class="layui-tree">
                            <div id="test3" class="demo-tree"></div>
                            <!--<li class="site-tree-noicon" th:each="item : ${spts}" th:classappend="${item.dmbh eq bmbh} ? 'layui-this': ''">-->
                            <!--<a th:href="'/admin/fzList?bmbh='+${item.dmbh}"  class="bmClass" th:attr="data-bmbh=${item.dmbh}" >-->
                            <!--<span th:text="${item.dmms}">开始使用</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-card">
                    <div class="layui-card-header">结案日期</div>
                    <div class="layui-card-body">
                        <ul class="layui-tree">
                            <div id="test4" class="demo-tree"></div>
                            <!--<li class="site-tree-noicon" th:each="item : ${spts}" th:classappend="${item.dmbh eq bmbh} ? 'layui-this': ''">-->
                            <!--<a th:href="'/admin/fzList?bmbh='+${item.dmbh}"  class="bmClass" th:attr="data-bmbh=${item.dmbh}" >-->
                            <!--<span th:text="${item.dmms}">开始使用</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-row">
                <div class="box-body">
                    <div class="post" th:each="item:${list}">
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            <li class="info">
                                <div class="info-show">
                                    <h3><span class="ah">
                                        <a href="" th:utext="${item.ah}"></a>
                                    </span></h3>
                                </div>
                                <table class="layui-table-box">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">法院：</label>
                                                <span class="fydm" th:text="${item.fydm}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">承办人：</label>
                                                <span class="cjr" th:text="${item.cjr}"></span>
                                            </div>
                                        </td>
                                        <!--<td>-->
                                            <!--<div class="layui-inline">-->
                                                <!--<label class="layui-form-label">案件标识：</label>-->
                                                <!--<span class="ajbs" th:text="${item.ajbs}"></span>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">立案日期：</label>
                                                <span class="larq" th:text="${item.larq}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">结案日期：</label>
                                                <span class="jarq" th:text="${item.jarq}"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="layui-inline">
                                    <p th:utext="${item.ocrText}"></p>
                                </div>
                            </li>
                            <!--<div class="user-block">-->
                        <!--<span class="ajmc">-->
                            <!--<a href="" th:utext="${item.ajmc}"></a>-->
                        <!--</span>-->
                                <!--<span class="cjr" th:text="${item.cjr}"></span>-->
                                <!--<p th:utext="${item.ocrText}"></p>-->
                            <!--</div>-->
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="layui-row">-->
    <!--<div class="layui-col-md-offset2">-->
        <!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">-->
            <!--<legend>案件类型</legend>-->
            <!--<div id="test5" class="demo-tree"></div>-->
        <!--</fieldset>-->

    <!--</div>-->

<!--</div>-->

<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/layui/layui.all.js"></script>

<script th:inline="javascript">

    $(function () {
        $('#search-btn').click(function () {
            $('#searchForm').submit();

        })

    });

    layui.use(['tree', 'util'], function() {
        var tree = layui.tree
            , layer = layui.layer
            , util = layui.util

            , data1 = [{
            title: '江西'
            ,id: 1
        },{
            title: '广西'
            ,id: 2
        },{
            title: '陕西'
            ,id: 3
        }]

            , data2 = [{
            title: '江西'
            ,id: 1
        },{
            title: '广西'
            ,id: 2
        },{
            title: '陕西'
            ,id: 3
        }]

            , data3 = [{
            title: '江西'
            ,id: 1
        },{
            title: '广西'
            ,id: 2
        },{
            title: '陕西'
            ,id: 3
        }]

            , data4 = [{
            title: '江西'
            ,id: 1
        },{
            title: '广西'
            ,id: 2
        },{
            title: '陕西'
            ,id: 3
        }]





        //无连接线风格
        tree.render({
            elem: '#test1'
            ,data: data1
            ,showLine: false //是否开启连接线
        });

        tree.render({
            elem: '#test2'
            ,data: data2
            ,showLine: false //是否开启连接线
        });

        tree.render({
            elem: '#test3'
            ,data: data3
            ,showLine: false //是否开启连接线
        });

        tree.render({
            elem: '#test4'
            ,data: data4
            ,showLine: false //是否开启连接线
        });
    });
</script>

</body>
</html>